.content{
  font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: bold;
}
.namecontent
{
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  font-weight: bold;
}
.main-div
{
  position:absolute;
  width: 100%;
  height: 100%;
}
.div-content
{
  position:absolute;
  width:100%;
  height:60%;
  top:0%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.div-name
{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top:50%;
  width: 80%;
  left: 10%;
  
}
.div-animation
{
  position:absolute;
  width:100%;
  height:40%;
  top:60%;
  overflow: hidden;
}
.bottom-nav
{
  position: absolute;
  top:95%;
  width:100%;
  height:5%;
  display:flex;
  justify-content:center;
  align-items: center;

  font-family:monospace;
  color: white;
}
a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.random-msg
{
  position: absolute;
  top:90%;
  width: 75%;
  left:12%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: 'Abel', sans-serif;
}
