body {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1;
  margin: 0;
  padding: 0;
  background-opacity:50%;
  background-repeat: no-repeat; 
}

a {
  color: black;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

header {
  margin: 10% 0 5%;
  text-align: center;
}

html {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

header h1 {
  font-weight: 300;
}

header h1 b {
  font-weight: bold;
}

header p {
  color: black;
  font-size: 87.5%;
  padding-bottom: 14px;
}

header ul li {
  display: inline;
  padding: 0 15px;
}

header ul li a {
  -webkit-transition: color 0.25s ease-in;
  -moz-transition: color 0.25s ease-in;
  -o-transition: color 0.25s ease-in;
  -ms-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
  color: black;
}
.text {
  width: relative;
  height: 200%;
  position: relative;
  align-items:center;
  margin-left:5%;
}

.content {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 10%;
}
.grayscale-svg {
  filter: grayscale(100%);
}

.grayscale-svg:hover {
  filter: grayscale(0%);
}
.fa-pinterest:hover {
  color: #bd081c;
  transition: color 0.25s ease;
  -o-transition: color 0.25s ease-in;
}

.fa-instagram:hover {
  color: #e4405f;
}

.fa-mastodon:hover {
  color: #6364ff;
}

.fa-envelope:hover {
  color: #ea4335;
}

.fa-github:hover {
  color: #181717;
}

.fa-cake-candles:hover {
  color: coral;
}

.Mood-style b:hover {
  color: green;
}
.fa-reddit-alien:hover{
  color: #ff4500;
}
 @media only screen and (max-width: 600px) {
   .hide-on-small-screen {
     display: none;
	}
}
