body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover{
  color: blue;
}

ul {
  list-style-type: none;
  padding: 0;
}

header {
  margin: 15% 0 8%;
  text-align: center;
}

header h1 {
  font-weight: 300;
}

header h1 b {
  font-weight: bold;
}

header p {
  color: #646464;
  font-size: 87.5%;
  padding-bottom: 14px;
}

header ul li {
  display: inline;
  padding: 0 15px;
}

header ul li a {
  -webkit-transition: color 0.25s ease-in;
  -moz-transition: color 0.25s ease-in;
  -o-transition: color 0.25s ease-in;
  -ms-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
  color: #BBB;
}
.fa-pinterest:hover{
  color: #bd081c;
  transition: color 0.25s ease;
  -o-transition: color 0.25s ease-in;
}

.fa-instagram:hover{
  color: #e4405f;
}

.fa-mastodon:hover{
  color: #6364ff;
}

.fa-envelope:hover{
  color: #ea4335;
}

.fa-github:hover{
  color: #181717;
}
.fa-cake-candles:hover{
  color:coral;
}